<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">姓名</th>
      <th scope="col">请假原因</th>
      <th scope="col">活动名称</th>
      <th scope="col">查看详情</th>
    </tr>
  </thead>

  <tbody>
    <% @reasons.each do |reason| %>
    <tr>
      <th scope="row"><%= reason.name %></td>
      <td><%= reason.why %></td>
      <td><%= reason.activity.title %></td>
      <td><%= link_to '详情', activity_reason_path(reason.activity,reason) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
