<!-- 预约表格 -->
<table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">预约人</th>
          <th scope="col">预约日期</th>
        </tr>
      </thead>
      <tbody>
        <% @appointments.each do |appointment| %>
        <tr>
          <th scope="row"><%= appointment.title %></td>
          <td><%= appointment.time %></td>
        </tr>
        <% end %>
      </tbody>
</table>