<div class="main" style = "text-align: center">
  <h1>修改活动</h1>
  <%= render 'form' %>
</div>

<div class="bottom">
  <%= link_to '返回列表', @activity %> |
  <%= link_to '返回主页', activities_path %>
</div>
